main.contacto {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

main.contacto div.main-box {
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-between;
}

main.contacto div.text-box {
    width: 53%;
}

main.contacto div.form-box {
    width: 45%;
}

main.contacto div.text-box h2 {
    font-size: 1.5em;
}

main.contacto div.text-box h3 {
    text-decoration: underline;
}

main.contacto div.text-box a {
    color: #000000;
    text-decoration: none;

    transition: font-size;
    transition-duration: 1s;
}

main.contacto div.text-box a:hover {
    color: #cc7a00;
    font-weight: 900;
    font-size: 1.01em;
}

main.contacto div.text-box p:first-of-type {
    font-weight: bold;
}

main.contacto form {
    display: flex;
    flex-direction: column;
}

main.contacto form * {
    margin-bottom: 0.5em;
}

main.contacto form > div {
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: bold;
}

main.contacto .form-box a {
    color: #8600b3;
    text-decoration: none;
}

main.contacto form > div > input {
    height: 0.8em;
}

main.contacto input, main.contacto textarea, main.contacto select {
    border-radius: 5px;
    border-width: 0.1em;
    border-style: solid;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;

    color:#cc7a00;
    border-color: #cc7a00;
}

main.contacto input:invalid, main.contacto textarea:invalid {
    background-color: #ffb3b3;
    color: #ff0000;
    border-color: #ff0000;
}

main.contacto div.form-box button {
    background-color: #cc7a00;
    border-color: #cc7a00;
    border-radius: 5px;
    border-style: solid;
}

@media screen and (max-width: 1023px) {
    main.contacto div.main-box {
        display: flex;
        flex-direction: column-reverse;
    }

    main.contacto div.text-box {
        width: 100%;
    }
    
    main.contacto div.form-box {
        width: 95%;
        border-style: solid;
        border-color: #cc7a00;
        padding: 1em;
    }
}