footer {
    background-color: #333333;
    color: #cccccc;
}
footer h3 {
    color: #ffffff;
    width: 8em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: orange;
}

footer p {
    margin: 0.3em;
}

div#follow {
    display: flex;
    direction: row;
    gap: 0.3em;
}

.footer-ico {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    border-style: solid;
    border-width: 0;
    min-height: 30px;
    width: 30px;
    background-color: #737373;
    color: #ffffff;
}

.footer-ico.fa-facebook:hover {
    background-color: #3b5998;
}

.footer-ico.fa-instagram:hover {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
}

.footer-ico.fa-x:hover {
    background-color: #000000;
}

.footer-ico.fa-linkedin:hover {
    background-color: #0e76a8;
}

@media screen and (min-width: 769px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }
}

@media screen and (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    div#follow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.3em;
    }
    footer div h3 {
        width: 90%;
    }
}