main.nosotros {
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

main.nosotros div.main-block {
    display: flex;
    flex-direction: row;
    padding-right: 1em;
    padding-left: 1em;
    align-items: self-start;
    height: auto;
}

main.nosotros div.inside-block {
    display: flex;
    flex-direction: column;
}

main.nosotros h1 {
    width: 100%;
    text-align: center;
}

main.nosotros div.img-block img {
    height: 25em;
    object-fit: cover;
}

main.nosotros div.text-block img {
    height: 3em;
}

main.nosotros div.logo-block {
    display: flex;
    direction: row;
    align-items: center;
}

main.nosotros div.logo-block h2 {
    font-weight: lighter;
    padding-left: 0.5em;
}

main.nosotros div.logo-block span {
    color: #b36b00;
}

main.nosotros div.text-block p:first-of-type {
    font-weight: bold;
    font-size: 0.9em;
}

main.nosotros div.text-block p:nth-of-type(2) {
    font-weight: bold;
    color: #a6a6a6;
    margin-top: 0;
}

main.nosotros div.text-block div.icons-block {
    display: flex;
    justify-content: center;
    gap: 0.8em;
}

main.nosotros div.text-block div.icons-block img {
    border-style: solid;
    border-radius: 100%;
    border-color: #ffffff;
    filter: grayscale(100%);
    height: 2em;
}

main.nosotros div.text-block div.icons-block img:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1023px) {
    main.nosotros div.main-block {
        display: flex;
        flex-direction: column;
        padding-right: 1em;
        padding-left: 1em;
        align-items: self-start;
        height: auto;
    }

    main.nosotros div.inside-block {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    main.nosotros div.inside-block:first-child {
        width: 35%;
    }
    
    main.nosotros div.inside-block:nth-child(2) {
        width: 65%;
        padding-left: 1.5em;
    }
}