div {
    border-color: black;
    border-style: solid;
    border-width: 0.15rem;
    margin-bottom: 1rem;
}

p::first-letter {
    font-size: 2em;
}

div.two p::first-line {
    font-weight: bold;
}